@charset "euc-kr";

/* Font */
@font-face {font-family:noto; font-weight:100; src:url('font/NotoSans-Light.woff') format('woff'), url('font/NotoSans-Light.woff2') format('woff2'), url('font/NotoSans-Light.otf') format('OpenType')}
@font-face {font-family:noto; font-weight:200; src:url('font/NotoSans-DemiLight.woff') format('woff'), url('font/NotoSans-DemiLight.woff2') format('woff2'), url('font/NotoSans-DemiLight.otf') format('OpenType')}
@font-face {font-family:noto; font-weight:400; src:url('font/NotoSans-Regular.woff') format('woff'), url('font/NotoSans-Regular.woff2') format('woff2'), url('font/NotoSans-Regular.otf') format('OpenType')}
@font-face {font-family:noto; font-weight:700; src:url('font/NotoSans-Medium.woff') format('woff'), url('font/NotoSans-Medium.woff2') format('woff2'), url('font/NotoSans-Medium.otf') format('OpenType')}
@font-face {font-family:noto; font-weight:800; src:url('font/NotoSans-Bold.woff') format('woff'), url('font/NotoSans-Bold.woff2') format('woff2'), url('font/NotoSans-Bold.otf') format('OpenType')}
@font-face {font-family:noto-mj; font-weight:200; src:url('font/NotoSerifCJKkr-Medium.woff') format('woff'), url('font/NotoSerifCJKkr-Medium.woff2') format('woff2'), url('font/NotoSerifCJKkr-Medium.otf') format('OpenType')}
@font-face {font-family:roboto; font-weight:200; src:url('font/Roboto-Medium.woff') format('woff'), url('font/Roboto-Medium.woff2') format('woff2'), url('font/Roboto-Medium.otf') format('OpenType')}

/* style reset */
* {margin:0; padding:0; -webkit-text-size-adjust:none; -webkit-overflow-scrolling:touch; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; outline:0}

html {width:100%; font-size:10px}
body {width:100%; color:rgba(102,102,102,0.8); line-height:1.5; font-size:1.4rem; word-break:keep-all; word-wrap:break-word}
ul, ol, li {list-style:none}
a {color:inherit; text-decoration:none; cursor:pointer}
a:focus {outline:0}
button, input, a, select {outline:0}
em, address, i {font-style:normal}
caption {visibility:hidden; width:0; height:0; overflow:hidden; font-size:0}
hr {font-size:0; line-height:0}
select {border-radius:0; color:rgba(102,102,102,0.8); -webkit-appearance:none; -moz-appearance:none; appearance:none; outline:none}
select::-ms-expand {display:none}
button {background:transparent; border:0; vertical-align:middle; cursor:pointer}
button:focus {outline:none}
pre {white-space:pre-line; word-break:break-all}
img {border:0; vertical-align:middle}
input[type="text"],

input[type="password"],
input[type="file"] {display:block; padding:0; background:#fff; border:0; border-radius:0; vertical-align:middle; color:rgba(102,102,102,0.8); outline:none}
input[type="radio"],
input[type="checkbox"] {vertical-align:middle}
input::-ms-clear {display:none}
input::-webkit-input-placeholder {color:#999; font-size:1.5rem; font-weight:400}
input:-moz-placeholder {color:#999; font-size:1.5rem; font-weight:400}
input::-moz-placeholder{color:#999; font-size:1.5rem; font-weight:400}
input:-ms-input-placeholder {color:#999; font-size:1.5rem; font-weight:400}
textarea {display:block; overflow-x:hidden; overflow-y:auto; resize:none; background:#fff; vertical-align:middle; color:rgba(102,102,102,0.8)}
textarea::-webkit-input-placeholder {color:#999; font-weight:400; font-size:1.5rem}
textarea:-moz-placeholder {color:#999; font-weight:400; font-size:1.5rem}
textarea::-moz-placeholder {color:#999; font-weight:400; font-size:1.5rem}
textarea:-ms-input-placeholder {color:#999; font-weight:400; font-size:1.5rem}
fieldset {margin:0; padding:0; border:0; background:0}
fieldset legend {visibility:hidden; font-size:0; line-height:0}
table {border-collapse:collapse}
body, button, input, textarea, select, pre {font-family:noto, Dotum, Arial, sans-serif; font-weight:400}
.hide {overflow:hidden; position:absolute; left:-1000%; top:0; width:0; height:0; font-size:0.1%; line-height:0.1%}
.transparents-layer {position:fixed; left:0; top:0; z-index:100; width:100%; height:100%; background:#000; opacity:0.5; -ms-filter:alpha(opacity=50); filter:alpha(opacity=50)}
.nocontents {width:100%; padding:5rem; text-align:center; font-size:1.6rem}
.txt-left {text-align:left !important; padding-left:5rem !important}
.clearfix {clear:both !important; overflow:hidden !important; float:none !important}
.pull-left {float:left !important; clear:none !important}
.pull-right {float:right !important; clear:none !important}
.pull-none {float:none !important; clear:none !important; overflow:hidden; display:block}
.tab-hiddencontents {display:none}
.tab-hiddencontents.on {display:block}
.pc-only {display:block !important}
.mobile-only {display:none !important}


/* Slick Slider */
.slick-slider {position:relative; display:block; height:100%; font-size:0; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list {position:relative; display:block; overflow:hidden; width:100%; height:100%; margin:0; padding:0}
.slick-list.dragging {cursor:pointer; cursor:hand}
.slick-slider .slick-track,.slick-slider .slick-list {-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}
.slick-track {position:relative; top:0; left:0; display:block; width:100%; height:100%}
.slick-track:before,.slick-track:after {display:table; content:""}
.slick-track:after {clear:both}
.slick-loading .slick-track {visibility:hidden}
.slick-slide {display:none;float:left; width:auto; height:100%; min-height:1px}
[dir='rtl'] .slick-slide {float:right}
.slick-slide img {display:block}
.slick-slide.slick-loading img {display:none}
.slick-slide.dragging img {pointer-events:none}
.slick-initialized .slick-slide {display:block}
.slick-loading .slick-slide {visibility:hidden}
.slick-vertical .slick-slide {display:block; height:auto}
.slick-arrow.slick-hidden {display:none}

/* layout */
#wrap {width:100%; min-width:32rem; max-width:120rem; margin:0 auto}

.header {z-index:70; position:fixed; left:0; top:0; width:100%; height:5rem; background:#fff}
.header:after {content:""; display:block; clear:both}
.header .innerbox {position:relative; width:100%; height:5rem; margin:0; padding:0 7rem; border-bottom:1px solid #ddd}
.header h1 {position:absolute; left:3%; top:50%; width:6rem; height:3rem; margin:-1.5rem 0 0 0}
.header h1 a {display:block; width:100%; height:100%; background:url('../images/logo.png') no-repeat 50%; background-size:100% auto; font-size:0; text-indent:-99999rem}
.header h2 {width:100%; height:5rem; text-align:center; font-size:2rem; color:#222; line-height:5rem; font-weight:700}
.header button.btn-gnb-search {position:absolute; right:0; top:0; width:5rem; height:5rem; margin:0; background:url('../images/icon_gnbsearch.png') no-repeat 50%; background-size:2.2rem auto; font-size:0; text-indent:-99999rem}
.header .btn-close {position:absolute; right:0; top:0; width:5rem; height:5rem; background:url('../images/icon_layerclose.png') no-repeat 50%; background-size:2rem auto; font-size:0; text-indent:-99999rem}
.header .btn-prevpage {position:absolute; left:0; top:0; width:5rem; height:5rem; background:url('../images/icon_prevpage.png') no-repeat 50%; background-size:1.4rem auto; font-size:0; text-indent:-99999rem}
.header .searchbox {position:absolute; right:-200%; top:0; width:100%; height:auto; background:#fff}
.header .searchbox:before {position:absolute; left:0; top:5rem; width:100%; height:0.1rem; background:#888; content:''}
.header .searchbox fieldset {position:relative; height:4.5rem; margin:2rem 3% 4rem 3%; padding:0 6rem 0 1.6rem; background:#f6f6f6; border-radius:2.3rem}
.header .searchbox fieldset button {position:absolute; right:0.5rem; top:0; width:4.5rem; height:4.5rem; background:url('../images/icon_gnbsearch.png') no-repeat 50%; background-size:2.2rem auto; font-size:0; text-indent:-99999rem}
.header .searchbox fieldset p .inpbox {width:100%; height:4.5rem; border:0; background:0}
.header .searchbox fieldset p .inpbox input.txt {width:100%; height:4.5rem; padding:0; background:0; border:0; font-size:1.4rem}
.header .searchbox dl {clear:both; margin:0 3%}
.header .searchbox dl dt {margin:0 0 1rem 0; font-weight:700; color:#1a1516}
.header .searchbox dl dd span {display:inline-block; height:2.6rem; margin:0 0 0.6rem 0; padding:0 1rem; text-align:center; border:1px solid #2cac3e; border-radius:1.3rem; color:#2cac3e; line-height:2.4rem; font-size:1.3rem}

.categorybox {position:absolute; left:-200%; top:0; width:100%; height:70rem; background:#eee}
.categorybox:before {position:absolute; left:0; top:5rem; width:100%; height:0.1rem; background:#888; content:''}
.categorybox h2 {background:#fff}
.categorybox .categorylist {clear:both; overflow:hidden; margin-bottom:1rem; background:#fff}
.categorybox .categorylist ul {clear:both; overflow:hidden}
.categorybox .categorylist ul li {float:left; width:33.3%; height:calc(100% / 3 + 20px); text-align:center; border-left:1px solid #ddd; border-top:1px solid #ddd}
.categorybox .categorylist ul li a {display:block; width:100%; height:100%; padding-top:6.5rem; padding-bottom:2rem; color:#222}
.categorybox .categorylist ul li:nth-child(1) {width:33.4%; border-top:0; border-left:0}
.categorybox .categorylist ul li:nth-child(1) a {background:url('../images/icon_category_01.png') no-repeat 50% 35%; background-size:4.5rem auto}
.categorybox .categorylist ul li:nth-child(2) {border-top:0}
.categorybox .categorylist ul li:nth-child(2) a {background:url('../images/icon_category_02.png') no-repeat 50% 35%; background-size:4.5rem auto}
.categorybox .categorylist ul li:nth-child(3) {border-top:0}
.categorybox .categorylist ul li:nth-child(3) a {background:url('../images/icon_category_03.png') no-repeat 50% 35%; background-size:4.5rem auto}
.categorybox .categorylist ul li:nth-child(4) {width:33.4%; border-left:0}
.categorybox .categorylist ul li:nth-child(4) a {background:url('../images/icon_category_04.png') no-repeat 50% 35%; background-size:4.5rem auto}
.categorybox .categorylist ul li:nth-child(5) a {background:url('../images/icon_category_05.png') no-repeat 50% 35%; background-size:4.5rem auto}
.categorybox .categorylist ul li:nth-child(6) a {background:url('../images/icon_category_06.png') no-repeat 50% 35%; background-size:4.5rem auto}
.categorybox .categorylist ul li:nth-child(7) {width:33.4%; border-left:0}
.categorybox .categorylist ul li:nth-child(7) a {background:url('../images/icon_category_07.png') no-repeat 50% 35%; background-size:4.5rem auto}
.categorybox .categorylist ul li:nth-child(8) a {background:url('../images/icon_category_08.png') no-repeat 50% 35%; background-size:4.5rem auto}
.categorybox .categorylist ul li:nth-child(9) a {background:url('../images/icon_category_09.png') no-repeat 50% 35%; background-size:4.5rem auto}
.categorybox .cscenter {clear:both; overflow:hidden; padding:0.5rem 3% 2rem 3%; background:#fff}
.categorybox .cscenter ul li {clear:both; overflow:hidden; margin-top:1rem}
.categorybox .cscenter ul li span {float:left; width:8rem; color:#222; font-weight:600; font-size:1.5rem}
.categorybox .cscenter ul li div {float:none; overflow:hidden}
.categorybox .cscenter ul li div strong {display:inline-block; color:#222; font-size:1.6rem; font-weight:800}
.categorybox .cscenter ul li div p {color:#666; font-size:1.4rem}

.submenu {position:relative; z-index:60; width:100%; height:6rem; border-bottom:1rem solid #eee}
.submenu .innerbox {height:5rem}
.submenu .innerbox > ul {height:3.8rem; margin-top:1.2rem}
.submenu .innerbox > ul > li {height:2.5rem; margin:0 1.2rem; font-size:1.4rem}
.submenu .innerbox > ul > li > a {font-size:1.4rem; line-height:2.5rem; color:#222}
.submenu .innerbox > ul > li:first-child {margin-left:3%}
.submenu .innerbox > ul > li:last-child {margin-right:7rem}
.submenu .innerbox > ul > li.on > a {color:#2cac3e}
.submenu .ctgbox .btn-ctg {position:absolute; right:0; top:-5rem; z-index:61; display:block; width:6rem; height:5rem; background:url('../images/bg_gradation.png') no-repeat 50%; background-size:100% 100%}
.submenu .ctgbox .btn-ctg button {float:right; width:4.5rem; height:5rem; margin:0; background:url('../images/icon_selectarr_b.png') no-repeat 50%; background-size:2rem auto; font-size:0; text-indent:-99999rem; transform:rotate(0deg); transition:transform 0.5s}

.submenu.on .ctgbox .btn-ctg button {transform:rotate(180deg)}

.submenu .ctgbox {position:absolute; left:0; top:5rem; width:100%; background:#f6f6f6; border-bottom:1px solid #ddd}
.submenu .ctgbox ul {display:none; clear:both; overflow:hidden}
.submenu .ctgbox ul li {float:left; width:50%; height:3.7rem; text-align:center; border-top:1px solid #ddd; line-height:3.5rem; font-size:1.4rem}
.submenu .ctgbox ul li:nth-child(2n+0) {border-left:1px solid #ddd}
.submenu .ctgbox ul li a {display:block; width:100%; height:3.4rem; color:#666; font-size:1.4rem}

.stickymenu {position:fixed; left:0; bottom:-0.1rem; z-index:80; width:100%; height:5.5rem; background:#fff; border-top:1px solid #ddd}
.stickymenu > ul {height:5.5rem}
.stickymenu > ul > li {float:left; width:25%; height:5.5rem; text-align:center}
.stickymenu > ul > li > a {display:block; width:100%; height:5.5rem; padding-top:3rem; color:#222; font-size:1.3rem}
.stickymenu > ul > li.menu-home > a {background:url('../images/icon_sticky_01.png') no-repeat 50% 0.8rem; background-size:2rem auto}
.stickymenu > ul > li.menu-category > a {background:url('../images/icon_sticky_02.png') no-repeat 50% 0.8rem; background-size:2rem auto}
.stickymenu > ul > li.menu-counsel > a {background:url('../images/icon_sticky_03.png') no-repeat 50% 0.8rem; background-size:2rem auto}
.stickymenu > ul > li.menu-cscenter > a {background:url('../images/icon_sticky_04.png') no-repeat 50% 0.8rem; background-size:2rem auto}

.maincontents {width:100%}
.maincontents > div > h3 {margin:4rem 3% 0 3%; font-size:2.2rem; color:#333; font-weight:800; line-height:2.9rem}
.maincontents > div > .listgroup {margin-top:1.5rem; padding-bottom:1.5rem; border-bottom:1rem solid #eee}
.maincontents .banner-bottom {margin-top:-1rem}
.maincontents .banner-bottom img {width:100%}
.maincontents .mainvisual {position:relative; width:100%; border-bottom:1rem solid #eee}
.maincontents .mainvisual .pagecnt {position:absolute; right:1rem; bottom:1rem; width:auto; height:2.2rem; padding:0 1rem; text-align:center; border-radius:1.2rem; background:rgba(0,0,0,0.6); color:rgba(255,255,255,0.35); font-size:1.3rem; line-height:2.2rem; font-weight:100}
.maincontents .mainvisual .pagecnt strong {font-weight:700; color:#fff}
.maincontents .mainvisual ul li.slick-slide {position:relative}
.maincontents .mainvisual ul li.slick-slide p {position:relative; left:0; top:0; width:100%}
.maincontents .mainvisual ul li.slick-slide p img {width:100%; cursor:pointer}
.maincontents .mainvisual ul li.slick-slide > div {position:absolute; left:5%; top:20%; width:70%; color:#fff}
.maincontents .mainvisual ul li.slick-slide > div em {display:inline-block; height:2.5rem; padding:0 1rem; text-align:center; background:#3d3536; border-radius:1.3rem; font-size:1.3rem; font-weight:600; line-height:2.5rem; color:#fff}
.maincontents .mainvisual ul li.slick-slide > div em.badge-green {background:#05745d}
.maincontents .mainvisual ul li.slick-slide > div strong {display:block; margin-top:1rem; font-size:2.2rem; font-weight:800; line-height:2.6rem}
.maincontents .mainvisual ul li.slick-slide > div span {display:block; margin-top:1.2rem; font-size:1.3rem; color:#fff; font-weight:400}
.maincontents .mainvisual ul li.slick-slide > div span.txt-green {color:#bfebe2}
.maincontents .mainvisual .slick-dots {position:absolute; left:5%; bottom:5%; height:0.8rem}
.maincontents .mainvisual .slick-dots li {float:left; width:0.7rem; height:0.75rem; margin-right:0.8rem}
.maincontents .mainvisual .slick-dots li button {width:0.7rem; height:0.75rem; background:rgba(255,255,255,0.35); border-radius:50%; font-size:0; text-indent:-99999rem}
.maincontents .mainvisual .slick-dots li.slick-active button {background:rgba(255,255,255,1)}
.maincontents .weektab {height:4rem; margin-top:3rem; padding:0 3%}
.maincontents .weektab ul li {float:left; width:13%; text-align:center}
.maincontents .weektab ul li button {width:3rem; height:2.4rem; font-size:1.3rem; color:#333}
.maincontents .weektab ul li.slick-active {width:22%}
.maincontents .weektab ul li.slick-active button {width:90%; padding:0 0.7rem; background:#2baa41; border-radius:1.25rem; color:#fff}
.maincontents .weekslide ul li.slick-slide p img {width:100%}
.maincontents .weekslide ul li.slick-slide div {padding:0.8rem 0.8rem 0 0.8rem; color:#333}
.maincontents .weekslide ul li.slick-slide div span {display:block; color:#333; font-size:1.4rem; line-height:2rem}
.maincontents .weekslide ul li.slick-slide div strong {display:block; margin-top:0.3rem; font-size:1.4rem; color:#222}
.maincontents .weekslide ul li.slick-slide div strong em {font-size:1.8rem; font-weight:800}
.maincontents .taglist {margin:2rem 0; padding-left:3%}
.maincontents .taglist ul li {margin-right:2rem}
.maincontents .taglist ul li a {font-size:1.6rem; color:#666}
.maincontents .taglist ul li.on a {color:#2baa41}

.container {clear:both; overflow:hidden; margin:5rem 0 0 0; padding:0}
.container:after {content:""; display:block; clear:both; overflow:hidden}


/* 터치 슬라이드 메뉴 공통 */
.tslide {position:relative; overflow-x:auto; overflow-y:hidden; white-space:nowrap}
.tslide > ul {position:relative; width:auto; -webkit-transition:-webkit-transform .4s ease-in-out; transition:-webkit-transform .4s ease-in-out; transition:transform .4s ease-in-out; transition:transform .4s ease-in-out, -webkit-transform .4s ease-in-out; font-size:0}
.tslide > ul > li {display:-webkit-inline-box; display:-ms-inline-flexbox; display:inline-flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center; font-size:0}

.goods-list .listgroup {clear:both; overflow:hidden; margin-top:4rem; padding:0 0 0 3%}
.goods-list .listgroup dl {float:left; width:50%; padding:0 3% 0 0; margin-bottom:3rem; cursor:pointer}
.goods-list .listgroup dl dt .pic {display:block; margin:0 0 1rem 0; font-size:0}
.goods-list .listgroup dl dt .pic img {width:100%}
.goods-list .listgroup dl dd p {color:#222; line-height:1.8rem; font-size:1.4rem}
.goods-list .listgroup dl dd span {display:block; margin-top:0.5rem; font-size:1.4rem; color:#222}
.goods-list .listgroup dl dd span strong {font-size:1.8rem; font-weight:800}

.goods-view {clear:both; overflow:hidden; margin-bottom:6rem}
.goods-view .goods-list h3 {margin:4rem 3% 0 3%; font-size:2.2rem; color:#333; font-weight:800; line-height:2.9rem}
.goods-view .goods-list .listgroup {margin-top:1.5rem; padding-bottom:1.5rem; border-bottom:1rem solid #eee}
.goods-view .goods-list:last-child .listgroup {border-bottom:0}
.goods-detailview .goods-info {clear:both; overflow:hidden; border-bottom:1rem solid #eee}
.goods-detailview .goods-info .pic img {width:100%}
.goods-detailview .goods-info .info {clear:both; padding:2rem 3%}
.goods-detailview .goods-info .info > em {display:block; font-size:1.6rem}
.goods-detailview .goods-info .info p {display:block; margin-top:0.6rem; font-size:1.9rem; color:#222; line-height:2.7rem}
.goods-detailview .goods-info .info span {display:block; margin-top:1rem; font-size:1.6rem; color:#222}
.goods-detailview .goods-info .info span strong {font-size:2rem; font-weight:800}
.goods-detailview .goods-tab ul li {float:left; width:50%; height:4.5rem}
.goods-detailview .goods-tab ul li a {display:block; width:100%; height:4.5rem; text-align:center; border-bottom:1px solid #ddd; color:#222; font-size:1.6rem; font-weight:600; line-height:4.4rem}
.goods-detailview .goods-tab ul li.on a {border-bottom:1px solid #2cac3e; color:#2cac3e; font-weight:800}
.goods-detailview .tab-hiddencontents {clear:both; overflow:hidden; min-height:20rem; padding:2rem 3%; border-bottom:1rem solid #eee; font-size:1.5rem; line-height:2.4rem}

.counselbox .goods-number {padding:2rem 3%; border-bottom:1px solid #ddd}
.counselbox .goods-number span {margin:0 1.5rem 0 0; font-size:1.6rem}
.counselbox .goods-number strong {color:#2cac3e; font-size:1.9rem; font-weight:800}
.counselbox .goods-number + fieldset {border-top:1rem solid #eee}
.counselbox fieldset {clear:both; overflow:hidden; padding:2rem 3%}
.counselbox fieldset ul li {position:relative; margin:0 0 2rem 0}
.counselbox fieldset ul li .txtcnt {position:absolute; right:0; top:0; font-weight:400; color:#999; font-size:1.5rem}
.counselbox fieldset ul li .txtcnt strong {color:#2cac3e; font-weight:700}
.counselbox fieldset ul li > label {display:block; margin:0 0 0.6rem 0; font-size:1.6rem; color:#222}
.counselbox fieldset ul li > div {}
.counselbox fieldset ul li > div .inpbox {}
.counselbox .rulebox {background:#f6f6f6; margin:0 3%; padding:1.2rem; border:1px solid #ddd}
.counselbox .agreechk {margin:1rem 3% 5rem 3%}
.counselbox .btncenter {margin:0 3% 4rem 3%}

.list-header .optionbox {float:right; width:10rem; border:0}
.list-header .totalcnt {float:left; padding-left:3%; line-height:4rem}
.list-header .totalcnt strong {margin-right:0.2rem; color:#000}

.priceoption {width:100%; height:3.6rem; padding-top:0.6rem}
.priceoption ul li {height:3rem; margin:0 0 0 1rem; font-size:1.4rem}
.priceoption ul li:first-child {margin:0 0 0 3%}
.priceoption ul li a {display:inline-block; height:3rem; padding:0 1rem; border:1px solid #999; border-radius:1.5rem; font-size:1.4rem; color:#999; line-height:2.8rem}
.priceoption ul li.on a {color:#fff; border:0; background:#2cac3e}

.rulebox {clear:both; overflow:hidden; padding:2rem 3% 5rem 3%; font-size:1.5rem}
.rulebox p {margin-top:1rem}
.rulebox ul li {position:relative; margin-top:1rem; padding:0 0 0 1rem}
.rulebox ul li:first-child {margin-top:0}
.rulebox ul li:before {position:absolute; left:0; top:0.9rem; width:0.3rem; height:0.3rem; background:#999; border-radius:50%; content:''}


/* footer */
.footer {clear:both; overflow:hidden; padding:2rem 3% 8rem 3%; background:#eee}
.footer ul {clear:both; overflow:hidden; margin-bottom:1.5rem}
.footer ul li {float:left; margin:0 0 0 2rem}
.footer ul li:first-child {margin:0}
.footer ul li:first-child a {font-weight:700}
.footer ul li a {color:#333; font-weight:400}
.footer .info span {display:block; font-size:1.2rem; color:#999}
.footer .info p {margin-top:1.2rem; color:#999; font-size:1.2rem}


/* form */
input[type="radio"] {position:absolute; width:0.1rem; height:0.1rem; padding:0; margin:-0.1rem; overflow:hidden; clip:rect(0,0,0,0); border:0}
input[type="radio"] + label {display:inline-block; position:relative; padding-left:2.6rem; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; font-weight:400; font-size:1.6rem}
input[type="radio"] + label:before {content:''; position:absolute; left:0; top:0; width:2.2rem; height:2.2rem; text-align:center; background:url('../images/bg_iradio_off.png') no-repeat 0 90%}
input[type="radio"]:checked + label:before {background:url('../images/bg_iradio_on.png') no-repeat 0 90%}
input[type="radio"]:checked + label:after {content:'';position:absolute; top:0; left:0; width:2.2rem; height:2.2rem; background:url('../images/bg_iradio_on.png') no-repeat 0 90%}

input[type="checkbox"] {position:absolute; width:0.1rem; height:0.1rem; padding:0; margin:-0.1rem; overflow:hidden; clip:rect(0,0,0,0); border:0}
input[type="checkbox"] + label {display:inline-block; position:relative; padding-left:2.6rem; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; color:#333; font-weight:400; font-size:1.6rem}
input[type="checkbox"] + label:before {content:''; position:absolute; left:0; top:0; width:2.2rem; height:2.3rem; text-align:center; background:url('../images/bg_icheck_off.png') no-repeat 0 0; background-size:2rem}
input[type="checkbox"]:checked + label:before {background:url('../images/bg_icheck_on.png') no-repeat 0 0; background-size:2rem}
input[type="checkbox"]:checked + label:after {content:'';position:absolute; top:0; left:0; width:2.2rem; height:2.3rem; background:url('../images/bg_icheck_on.png') no-repeat 0 0; background-size:2rem}

.inpbox {display:block; position:relative; height:4.5rem; background:#f6f6f6; border:0; vertical-align:middle}
span.inpbox {display: inline-block}
.inpbox input[type="text"],
.inpbox input[type="password"] {width:100%; height:100%; padding:0 1rem; border:0; background:0; font-size:1.5rem; color:rgba(102,102,102,0.8); font-weight:400}
.inpbox input[type="text"]:disabled,
.inpbox input[type="password"]:disabled {background:#ddd}

.txtbox {min-height:15rem; background:#f6f6f6}
.txtbox textarea {width:100%; height:100%; overflow-x:hidden; overflow-y:auto; padding:1rem; background:0; border:0; font-size:1.5rem}

.optionbox {display:inline-block; position:relative; width:37rem; height:4rem; background:#fff; border:1px solid #ddd; vertical-align:middle}
/* span.optionbox {float:left} */
.optionbox select {display:block; width:100%; height:100%; padding:0 1.5rem; background:url('../images/icon_selectarr_s.png') no-repeat 90% 50%; background-size:1.1rem auto; border:0; border-radius:0; color:#666; font-size:1.4rem; font-weight:400}
.optionbox select option {font-size:1.4rem}

.datebox {float:left; position:relative; width:37rem; height:4.5rem; padding-right:4.5rem; background:#fff}
.datebox input {width:100%; height:100%; padding:0 0 0 1rem; border:1px solid #ddd; background:0; color:rgba(102,102,102,0.8); font-size:1.6rem}
.datebox img {position:absolute; right:0.9rem; top:1.4rem; width:2.2rem}

.paging {clear:both; position:relative; height:2.5rem; text-align:center; margin:3rem 0 5rem 0; color:#212236; font-size:1.8rem}
.paging > p {font-size:1.5rem; line-height:1.3em}
.paging > p > button.btn-paging-prev {width:4.2rem; height:4.2rem; background:url('../images/icon_paging_prev.png') no-repeat 50%; font-size:0; text-indent:-99999px}
.paging > p > button.btn-paging-next {width:4.2rem; height:4.2rem; background:url('../images/icon_paging_next.png') no-repeat 50%; font-size:0; text-indent:-99999px}
.paging p span {display:inline-block; height:4.2rem; margin:0 0.5rem}
.paging p span a {display:inline-block; width:4.2rem; height:4.2rem; text-align:center; border:1px solid transparent; color:#666; font-size:1.4rem; line-height:4.2rem}
.paging p span a:hover {background:#666; border-color:#666; border-radius:10rem; color:#fff}
.paging p span a.on {background:#666; border-color:#666; border-radius:10rem; color:#fff}
.paging .btnleft {position:absolute; left:0; top:-0.7rem; width:auto; clear:none}
.paging .btnright {position:absolute; right:0; top:0px; width:auto; clear:none; margin-top:0}
.paging h4 {padding-top:3rem; text-align:left}
.paging .btn-box .btnbottom{top:-3rem}

.tabbox {height:5.4rem}
.tabbox ul li {float:left; width:33.3%; height:5.4rem}
.tabbox ul li:first-child {width:33.4%}
.tabbox ul li a {display:block; width:100%; height:5.4rem; text-align:center; background:#f9f9f9; border-width:1px 1px 1px 0; border-style:solid; border-color:#ccc; color:#ccc; font-size:1.6rem; font-weight:600; line-height:5.2rem}
.tabbox ul li:first-child a {border-width:1px}
.tabbox ul li.on a {background:#fff; border-width:1px; border-color:#333; color:#333}



/* btn */
.btncenter {display:block; clear:both; text-align:center; font-size:0}
.btncenter button {margin:0 0.5rem}
.btncenter button:only-child {width:100%; margin:0}
.btn-bottom {position:fixed; left:0; bottom:0; width:100%}
.btn-bottom button:only-child {width:100%}

.btn-border-orange {text-align:center; background:#fff; border:1px solid #fa8c1d; color:#fa8c1d}
.btn-gray {text-align:center; background-color:#666; color:#fff}
.btn-blue {text-align:center; background-color:#0ba0ec; color:#fff}
.btn-green {text-align:center; background-color:#2cac3e; color:#fff}
.btn-medium {height:5rem; padding:0 2rem; font-size:1.6rem; font-weight:800}
.btn-large {height:6rem; padding:0; font-size:1.6rem; font-weight:800}

.modalpop {display:block; opacity:0; top:-99999rem; left:-99999rem}
.popupwrap {position:fixed; left:-99999rem; top:-99999rem; z-index:101; overflow:hidden; width:60rem; background:#fff; opacity:0}
.popupwrap .btn-popclose {position:absolute; right:3rem; top:2.3rem; width:2.6rem; height:2.5rem; background:url('../images/icon_popclose1.png') no-repeat 50%; font-size:0; text-indent:-99999rem}
.popupwrap h1 {height:7rem; padding:0 4rem; background:#444; line-height:7rem; color:#fff; font-size:2.4rem; font-weight:600}
.popupwrap .popcontents {clear:both; padding:3rem}

.detail-body { border:1px solid #d8d8d8;border-top:3px solid #2caa40;border-bottom:none;background:#FFF;padding:0;}
.detail-body h5 {background:#f7f7f7;margin:0;font-weight:bold;}
.detail-body h5 span {background:#2caa40;color:#FFF;display:inline-block;padding:15px 25px;}
.detail-body .contents {overflow:hidden; text-align:center; padding:10px;} /**/
/*
.detail-body .contents .proposal{}
.detail-body .contents .proposal > div{margin-bottom:5px;}
.detail-body .contents .proposal > div > .p_title {font-weight:bold;}
*/
.detail-body .contents .panel {text-align:left;}
.detail-body .contents .panel-default > .panel-heading{font-size:18px;}


/* iphone X , XS, 11 Pro */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 
	.stickymenu {height:6.5rem}
	.stickymenu > ul > li > a {padding-top:2.7rem; background-position:50% 0.6rem !important}
}

/* iphone XR, 11 */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 2) { 
	.stickymenu {height:6.5rem}
	.stickymenu > ul > li > a {padding-top:2.7rem; background-position:50% 0.6rem !important}
}

/* iphone XS Max, 11 Pro Max */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 3) {
	.stickymenu {height:6.5rem}
	.stickymenu > ul > li > a {padding-top:2.7rem; background-position:50% 0.6rem !important}
}


@media screen and (max-width:768px) {
	html {font-size:12px}
}

@media screen and (max-width:480px) {
	html {font-size:10px}
}

@media screen and (min-width:320px) and (max-width:374px) {
	html {font-size:9px}
}



